$base-font-size: 18px;
$base-color-text: #000000;
$base-color-white: #fff;
$base-font-family: "museo_sans300", Arial, Helvetica, sans-serif;
$base-font-family-bold: "museo_sans700", Arial, Helvetica, sans-serif;
$container-width: 1350px;
$container-min-width: 768px;

$breackpoint-tablet: 800px;
$breackpoint-desktop: 1100px;
$breackpoint-desktop-wide: 1350px;